extends layout

block content
    h1=title 

    form(method='POST' action='')
        div.form-group
        label(for='user') Username:
        input#user.form-control(type='text' placeholder='user' name='user')
        
        div.form-group
        label(for='text') Message:
        input#text.form-control(type='text' name='text')
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
        for error in errors
            li!= error.msg